<div class="col-md-12">
  <%= form_tag search_query_path, method: :get, id: 'search_form', class: 'input-group', 'data-url': search_query_path(format: :json) do |f| %>
      <%= text_field_tag :query, params[:query], required: true, placeholder: "Search", id: "query", class: "form-control" %>
      <%= button_tag "Search", name: nil, class: "input-group-append btn btn-primary" %>
  <% end %>
</div>