<h2>Search Lang Data</h2>

<%= render 'form' %>

<ul>
  <% @results.each do |row| %>
    <li>
      <p><b>Lang Name:</b> <%= row['Name'] %></p>
    </li>
    <li>
      <p><b>Type:</b> <%= row['Type'] %></p>
    </li>
    <li>
      <p><b>Designed by:</b> <%=row['Designed by'] %></p>
    </li>
  <% end %>
</ul>